@using OrchardCore.Client.Models

<h1>@ContentItem.DisplayText</h1>
<h5>@ContentItem.ContentType</h5>

@code {

    [Parameter]
    public dynamic Model { get; set; } = default!;

    public ContentItem ContentItem => Model.ContentItem;

}