@inherits ShapeTemplate

@if (MenuItems != null && MenuItems.Any())
{
    <ul>
        @foreach (var menuItem in MenuItems)
        {
            var linkMenuItemPart = menuItem.Get<LinkMenuItemPart>("LinkMenuItemPart");
            <li>
                <a href="@linkMenuItemPart!.Url">@linkMenuItemPart!.Name</a>
            </li>
        }
    </ul>
}

@code {

    private ICollection<ContentItem> MenuItems => Model.MenuItems;

}