@using System.Reflection
<Router AppAssembly="@typeof(Modules).Assembly" AdditionalAssemblies="ModuleAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private ICollection<Assembly> ModuleAssemblies => Modules.GetAssemblies().Where(x => x != typeof(Modules).Assembly).ToList();
}