@inherits ShapeTemplate
@attribute [Shape("Content__Article")]
<h3>@Model.ContentItem.DisplayText</h3>
<small>(This is a shape override for Content-Article)</small>

@Html

@code {
    private MarkupString Html => (MarkupString)(string)Model.ContentItem.Content.HtmlBodyPart.Html;
}